
<div id="content">
</div>

<script>
  var assets = {
    logo: "<%= asset_path("logo.png") %>",
    pause: "<%= asset_path("pause.png") %>",
    spinner:"<%= asset_path("spinner.gif")%>",
    comment: "<%= asset_path("comment.png")%>",
    comments: "<%= asset_path("comments.svg")%>",
    downloadblk: "<%= asset_path("downloadblk.svg")%>",
    downloads: "<%= asset_path("downloads.svg")%>",
    edit:   "<%= asset_path("edit.png")%>",
    like: "<%= asset_path("like.png")%>",
    liked: "<%= asset_path("liked.png") %>",
    play: "<%= asset_path("play.png") %>",
    playsm: "<%= asset_path("play.svg")%>",
    plays: "<%= asset_path("plays.svg")%>",
    repost: "<%= asset_path("repost.svg")%>",
    reposted: "<%= asset_path("reposted.svg")%>",
    share: "<%= asset_path("share.svg")%>",
    stats: "<%= asset_path("stats.png")%>",
    trash: "<%= asset_path("trash.svg")%>",
    wave: "<%= asset_path("wave.svg")%>"
  };

</script>
  <!-- var auth = {
    token: "<%= auth_token %>"
  } -->
