<!DOCTYPE html>
<html>
<head>
  <title>RainWav</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  <%= link_to "Create Account", new_user_url %>
  <%= link_to "Sign In", new_session_url %>
<% end %> -->

<% if flash[:notice] %>
<ul class="flash-notice">
  <% flash[:notice].each do |notice| %>
    <li><%= notice %></li>
    <% end %>
</ul>
<% end %>




<%= yield %>

</body>
</html>
