<!DOCTYPE html>
<html>
<head>
  <title>RainWav</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash[:notice] %>
<ul class="flash-notice">
  <% flash[:notice].each do |notice| %>
    <li><%= notice %></li>
    <% end %>
</ul>
<% end %>




<%= yield %>

</body>
</html>
